/*
    Document   : styles.css
    Created on : 2014-02-12 07:29 PM
    Author     : mralext20
    Description: the styles of our site
    Purpose of the stylesheet follows.
    
*/
 .body_text {
    font-size:12px;
}
body {
    background-image: url("assets/background.jpg");
	background-size:80px 80px;
}

table {
	width:100%;
}

.text_show {
    background-color: rgba(255,255,255,0.5);
    text-indent:50px
}

.hide {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.align_left {
    text-align:left;
}

.align_right {
    text-align:right;
}

.bottom {
	position:absolute;
	bottom:0px;
}
